body {
    /* font-family: "Roboto", sans-serif; */
    font-family: "Open Sans", sans-serif;
    background-image: url('images/bg-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.container {
    padding-left: 10px;
    height: 100vh;
}

.container .top-section {
    padding: 50px;
    display: flex;

}

.container .top-section .logo {
    font-family: "Calistoga", serif;
    font-size: 40px;
    font-weight: 800;
    color: rgb(224, 120, 45);
    width: 180px;

}

.container .top-section .navbar {
    font-size: 18px;
    font-weight: 500;
    color: aliceblue;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;


}

.top-section .navbar .nav-item {}


.container .top-section .search-bar {
    display: flex;
    width: 350px;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}

.top-section .search-bar .search {
    width: 150px;
    height: 30px;
}

.top-section .search-bar .btn {
    background-color: chocolate;
    width: 100px;
    height: 30px;
}

.container .middle-section {
    display: flex;
    padding: 50px;
    width: 100%;
}

.container .middle-section .details {
    width: 50%;
    font-size: 80px;
    font-weight: 500;
    color: azure;
    font-family: "Playfair Display", serif;
}

.container .middle-section .middle-part {
    font-size: 70px;
    font-weight: 500;
    color: chocolate;
}

.container .middle-section .last-part {
    font-size: 80px;
    font-weight: 500;
    color: azure;
}

.container .middle-section .paragraph {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 500;
    color: azure;
}

.container .middle-section .join {
    font-size: 20px;
    background-color: chocolate;
    color: aliceblue;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container .middle-section .form {
    width: 400px;
    height: 600px;
    background: rgb(19, 30, 47);

}


.container .middle-section .form .login {
    height: 45px;
    font-size: 25px;
    font-weight: 600;
    color: chocolate;
    text-align: center;
    align-content: center;
    background-color: rgb(240, 240, 240);
    margin: 50px 20px 0 20px;
    border-radius: 20px;

}

.container .middle-section .form-container .form .input-controller {
    margin-top: 45px;
    padding: 0px 20px;


}

.container .middle-section .form-container .form .input-controller .input-field {
    height: 30px;
    width: 100%;
    background-color: rgb(19, 30, 47);
    color: white;
    border:none;
    border-bottom: 2px solid chocolate;

}

.input-field:focus {
    outline: none;
}

.input-field::placeholder {
    color: white;
    font-size: 16px;
}

.container .middle-section .form-container {
    width: 700px;
    height: 600px;
}

.container .middle-section .form-container .form .logbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.container .middle-section .form-container .form .logbtn .login-button {
    font-size: 20px;
    width: 200px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: chocolate;
    border-radius: 10px;

}

.login-button:hover {
    background-color: rgb(19, 121, 16);
    color: white;
}

.container .middle-section .form-container .form .reg-link {
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
}

.container .middle-section .form-container .form .logwith {
    font-size: 20px;
    color: aliceblue;
    margin-left: 130px;
}

.container .middle-section .form-container .form .signup {
    margin-left: 130px;
}

.container .middle-section .form-container .form {
    margin-left: 100px;
}

.s-mediaink {
    margin-left: 110px;
}

.fb-logo {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.insta-logo {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.twitter-logo {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.email-logo {
    width: 30px;
    height: auto;
    margin-right: 5px;
}